.addLessonModel .formGroup {
    margin-bottom: 20px;
  }
  .addLessonModel .formGroup label {
    display: block;
    width: 100%;
    color: var(--text-color);
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
  }
  .addLessonModel .formGroup input {
    width: 100%;
    color: var(--text-color);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #efefef;
    border: 0;
    outline: none;
  }
  .addLessonModel .formGroup input:focus {
    border: 1px solid var(--orange-color);
    outline: none;
  }
  .addLessonModel .formSubmitBtn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    background-color: var(--orange-color);
    border-radius: 3px;
    transition: 0.3s;
    border: 0;
  }
  .addLessonModel .formSubmitBtn:hover {
    background-color: var(--low-orange-color);
  }
  