* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --orange-color : #FCA311;
  --low-orange-color : #de8e0a;
  --black-color : #000000;
  --text-color : #14213D;
  --gray-color : #E5E5E5;
  --white-color : #FFFFFF;
}
body{
  font-family: serif, monospace, sans-serif;
  background: linear-gradient(to right, white, #F5FAFE);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.upBtn{
  position: absolute;
  background-color: #de8e0a;
  width: 100%;
  height: 100%;
}