.start {
  width: 100%;
  padding: 50px 0;
}
.start .container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start .container .InfoDiv h3 {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--text-color);
  font-size: 40px;
}
.start .container .InfoDiv p {
  font-size: 19px;
  color: #777;
  margin-bottom: 30px;
}
.start .container .InfoDiv a {
  width: fit-content;
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: 0.3s;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
}
.start .container .InfoDiv a:hover {
  background-color: var(--low-orange-color);
}
